# Created by https://www.gitignore.io/api/xcode

### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, 
#   Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.DS_Store

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

# Cocoapods
Pods/
# End of https://www.gitignore.io/api/xcode
Pods/Target Support Files/Pods-trial-AnnyeongDog/Pods-trial-AnnyeongDog.release.xcconfig
Pods/Target Support Files/Pods-trial-AnnyeongDog/Pods-trial-AnnyeongDog.debug.xcconfig
Pods/Target Support Files/Pods-trial-AnnyeongDog/Pods-trial-AnnyeongDog-frameworks.sh
Pods/Target Support Files/Pods-trial-AnnyeongDog/Pods-trial-AnnyeongDog-frameworks-Release-output-files.xcfilelist
Pods/Target Support Files/Pods-trial-AnnyeongDog/Pods-trial-AnnyeongDog-frameworks-Release-input-files.xcfilelist
Pods/Target Support Files/Pods-trial-AnnyeongDog/Pods-trial-AnnyeongDog-frameworks-Debug-output-files.xcfilelist
Pods/Target Support Files/Pods-trial-AnnyeongDog/Pods-trial-AnnyeongDog-frameworks-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-trial-AnnyeongDog/Pods-trial-AnnyeongDog-acknowledgements.plist
Pods/Target Support Files/Pods-trial-AnnyeongDog/Pods-trial-AnnyeongDog-acknowledgements.markdown
Pods/Target Support Files/Firebase/Firebase.release.xcconfig
Pods/Target Support Files/Firebase/Firebase.debug.xcconfig
Pods/Pods.xcodeproj/project.pbxproj
Pods/Manifest.lock
Podfile.lock
Podfile
