<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435441239922-8agit497fj4gqv2fk7qkfamcb64sr4jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435441239922-8agit497fj4gqv2fk7qkfamcb64sr4jp</string>
	<key>API_KEY</key>
	<string>AIzaSyBnltdHQsX04mmNvLHYILLIq0wVrnA9X0c</string>
	<key>GCM_SENDER_ID</key>
	<string>435441239922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.annyeong.Annyeong-Dog</string>
	<key>PROJECT_ID</key>
	<string>annyeong-dog</string>
	<key>STORAGE_BUCKET</key>
	<string>annyeong-dog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435441239922:ios:9e80c322b4c8f4311d7feb</string>
</dict>
</plist>